html {
    font-family: sans-serif;
}

.poker-table {
    background-repeat: no-repeat;
    left: 100px;
    position: absolute;
    height: 411px;
    width: 745px;
}

.seat {
    height: 150px;
    position: absolute;
    width: 150px;
}

#button {
    background-image: url('https://raw.githubusercontent.com/marlwolf606-dev/JavascriptGameDepo/main/images/dealerbutton.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 19px;
    position: absolute;
    width: 24px;
}

.name-chips {
    background-color: gray;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    height: 33px;
    position: absolute;
    text-align: center;
    top: 65px;
    width: 140px;
}

.player-name {
    width: 100%;
}

.card {
    background-image: url('https://raw.githubusercontent.com/marlwolf606-dev/JavascriptGameDepo/main/images/cardback.png');
    background-size: 100%;
    border-radius: 4px;
    height: 73px;
    width: 50px;
}

.card:hover {
    transform: scale(1.5) translateY(-40%);
}

.holecards {
    float: left;
    height: 73px;
    left: 20px;
    position: absolute;
    top: 3px;
    width: 102px;
}

.holecard1 {
    left: 0px;
    position: absolute;
}

.holecard2 {
    left: 50px;
    position: absolute;
}

.bet {
    color: white;
    font-size: 12px;
    left: 40px;
    position: absolute;
    top: 0px;
    text-shadow: -1px 0 1px black,
                 0 1px 1px black,
                 1px 0 1px black,
                 0 -1px 1px black;
}

/* === Seats === */

#seat0 { left: 0px; top: 330px; }
.seat0-button { left: 235px; top: 410px; }
#seat0 .bet { top: -20px; }

#seat1 { left: -50px; top: 155px; }
.seat1-button { left: 185px; top: 235px; }
#seat1 .bet { top: 100px; }

#seat2 { left: 0px; top: 0px; }
.seat2-button { left: 235px; top: 80px; }
#seat2 .bet { top: 100px; }

#seat3 { left: 200px; top: 0px; }
.seat3-button { left: 280px; top: 80px; }
#seat3 .bet { top: 100px; }

#seat4 { left: 400px; top: 0px; }
.seat4-button { left: 480px; top: 80px; }
#seat4 .bet { top: 100px; }

#seat5 { left: 600px; top: 0px; }
.seat5-button { left: 680px; top: 80px; }
#seat5 .bet { top: 100px; }

#seat6 { left: 650px; top: 155px; }
.seat6-button { left: 730px; top: 235px; }
#seat6 .bet { top: 100px; }

#seat7 { left: 600px; top: 330px; }
.seat7-button { left: 680px; top: 410px; }
#seat7 .bet { top: -20px; }

#seat8 { left: 400px; top: 330px; }
.seat8-button { left: 480px; top: 410px; }
#seat8 .bet { top: -20px; }

#seat9 { left: 200px; top: 330px; }
.seat9-button { left: 280px; top: 410px; }
#seat9 .bet { top: -20px; }

/* === Board === */

#board {
    left: 250px;
    position: absolute;
    top: 168px;
}

#pot {
    color: white;
    font-size: 16px;
    left: 325px;
    position: absolute;
    text-align: center;
    top: 245px;
}

.boardcard {
    height: 73px;
    left: 0px;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    width: 50px;
}

#flop2 { left: 52px; }
#flop3 { left: 104px; }
#turn  { left: 156px; }
#river { left: 208px; }

#burn1 { left: 280px; transform: rotate(-18deg); }
#burn2 { left: 290px; }
#burn3 { left: 300px; transform: rotate(15deg); }

/* === Actions === */

#action-options {
    height: 100px;
    left: 110px;
    position: absolute;
    top: 450px;
    width: 500px;
}

.action-button {
    background-color: silver;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    padding: 10px 5px 0 5px;
    position: absolute;
}

#call-button { left: 80px; }
#call-button:hover,
#fold-button:hover {
    box-shadow: 3px 3px 4px #000;
}

/* === Modal / Misc === */

#modal-box {
    background-color: silver;
    display: none;
    font-size: 12px;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}
